/**
 * Logo
 */

.logo {
  display: block;
  margin: 2rem 0;
  width: ($logo-size) / 1.80;
  height: ($logo-size) / 1.80;
}


/**
 * Primary Content
 */

.primary-content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  padding: 3rem 2rem;
  max-width: 860px;

  h1 {
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
  }

  p {
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
  }
}


/**
 * Social links
 */

.social {
  margin: 2.4rem 0 0 0;
  padding: 0;
  list-style: none;

  &__item {
    display: inline-block;
  }

  &__link {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    border-bottom: none;
    fill: #fff;
    transition: fill $base-anim-duration ease-in-out;

    &:hover,
    &:focus {
      fill: $brand-colour__primary;

      .social__label {
        display: none;
        color: $base-text-colour;
        animation-duration: $base-anim-duration;
        animation-name: fadeInDown;
      }
    }
  }

  &__label {
    position: absolute;
    left: 50%;
    display: none;
    padding: 5px 10px;
    background: rgba(0,0,0,.5);
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
  }
}


/**
 * Contact Form
 */

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 2.4rem 2.4rem;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  background-color: $brand-colour__secondary;
  transform: scale(.95);
  transition:
    visibility 0s ease-in-out $base-anim-duration,
    opacity $base-anim-duration ease-in-out,
    transform $base-anim-duration ease-in-out;

  &--open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    transform: scale(1);
  }
}

.no-js .contact-form {
  position: relative;
}

.contact {
  margin: 0 auto;
  color: $base-text-colour;

  &__title {
    margin-top: 0;
    text-align: center;
  }

  &--open &__title {
    animation: rubberBand;
    animation-delay: ($base-anim-duration * 6);
    animation-duration: 1s;
    animation-fill-mode: both;
  }
}

.contact-form {
  margin: 0 auto;
  overflow: hidden;

  &__field {
    margin: 0 0 (($base-spacing-unit / 4) * 3) 0;
  }

  &__label {
    display: block;
    margin: 0 0 ($base-spacing-unit / 2) 0;
  }

  .input,
  .select__input,
  .textarea {
    display: block;
    padding: ($base-spacing-unit / 2) ($base-spacing-unit / 2) ($base-spacing-unit / 2) (($base-spacing-unit / 2) - 4);
    width: 100%;
    border: 0;
    border-left: 4px solid #fff;
    background-color: $input-background-colour;
    color: $brand-colour__secondary;
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: 0;
    }

    &.error {
      border-color: $brand-colour__primary;
    }

    &.success {
      border-color: $input--success;
    }
  }

  .select {
    position: relative;
    background-color: $input-background-colour;

    &__input {
      position: relative;
      z-index: 2;
      border-radius: 0;
      -webkit-appearance: none;
      background-color: transparent
    }

    &:after {
      position: absolute;
      top: 50%;
      right: ($base-spacing-unit / 2);
      z-index: 1;
      display: block;
      content: '';
      width: 10px;
      height: 10px;
      background-color: $brand-colour__secondary;
      transform: translateY(-50%);
    }
  }

  .textarea {
    height: 140px;
  }

}


/**
 * Loader
 */

.loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: $brand-colour__primary;

  &__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
    width: 30px;
    height: 30px;
    background-color: $base-text-colour;
    animation: rotateplane 1.2s infinite ease-in-out;
  }
}
