.btn {
  display: block;
  margin: 0.83em 0 0 0;
  padding: 1rem 2.5rem;
  color: #fff;
  outline: none;
  transition: opacity 300ms linear,
              color 300ms linear,
              border-color 300ms linear;

  @include media-query(portable) {
    padding: 1.5rem 3.5rem;
  }

  &--bare {
    padding-left: 0;
    float: left;
    background-color: transparent;
    border: none;
    color: #337686;

    &:focus {
      opacity: .5;
    }
  }

  &--primary {
    float: right;
    background-color: transparent;
    border: 3px solid #337686;

    &:hover,
    &:focus {
      border-color: #fff;
    }
  }
}
