* {
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  @include vendor(box-sizing, border-box);
}

:root {
  font: 400 #{($base-font-size/16px)*1em}/#{$base-line-height/$base-font-size} $base-font-family;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
  background-size: cover;
  color:#444;
}

a {
  padding-bottom: 4px;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px dashed #fff;
  transition: border-color $base-anim-duration ease-in-out;

  &:hover {
    border-bottom-color: rgba(0,0,0,0);
  }
}
