.card{
	overflow: hidden;
	margin-top: 1em;
	position : relative;
	-webkit-filter: drop-shadow( 0px 0px 10px #888888 );
    filter: drop-shadow( 0px 0px 10px #888888 );
}
.gradient{
    margin-bottom: -4em;
    position: absolute; 
    bottom: 0;
}
.gradientImg{
	-webkit-filter: drop-shadow( -8px 4px 8px #060606CC );
    filter: drop-shadow( -8px 4px 8px #060606CC );
}
.play{
	margin-bottom: 2em;
	position: absolute; 
	bottom: 0;
}
.playBtn{
	-webkit-filter: drop-shadow( 0px 0px 7px #000C );
    filter: drop-shadow( 0px 0px 7px #000C ); 
}
.star{
	background-color: #000000;
}
.star-text{
	padding-right: 2em;
	color: #000;
	text-align: right;
	position: absolute; 
	bottom: 0;
}
@media screen and (min-width: 992px){ 
	.card{
		/*padding: 0px;
		padding-right: 30px;*/
	}
	.play{
		padding: 2em;
	}
	.star-text{
		margin-bottom: 2em;
	}
}
@media screen and (min-width: 768px) and (max-width: 992px){
	.play{
		margin-bottom: 7em;
	}
}